{% extends "baseBack.html.twig" %}
{% form_theme formMakingOfImage 'bootstrap_4_layout.html.twig' %}

{% block title %}
Ajouter des photos à un MakingOf
{% endblock %}

{% block body %}

<h4 class="mb-5">
    Ajouter les photos d'un making Of</h4>

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{% form_theme formMakingOfImage 'blog/_form_theme.html.twig' %}
{{ form_start(formMakingOfImage) }}
{{ form_widget(formMakingOfImage) }}
{{ form_end(formMakingOfImage)}}


<div class="row">

    {% for makingOfImage in makingOfImages %}
    <div class="col-md-3 mb-5 text-center mt-5">
        <div id="delete-{{makingOfImage.id}}">
            <img alt="Sébastien Mao" class="mini carte_agenda"
                src="{{ vich_uploader_asset(makingOfImage, 'imageFile')}}">
            <a href="{{ path('deleteAlbumImage', {'id': makingOfImage.id}) }}" class="btn btn-sm js-delete-image mt-4"
                id="{{ makingOfImage.id }}">
                <button class="btnRed">Supprimer l'image<span></span></button>
            </a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap JQuery Plugin -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

{% endblock %}