{% extends "base.html.twig" %}
{% block title %} Album : {{ album.title }} {% endblock %}

{% block body %}
    <div class="album">
            <h3>{{ album.title }}</h3>
            <p>{{ album.Subtitle }}</p>
            <img alt="" class="mini" src="{{ album.cover }}">
            <p>{{ album.Scenario }}</p>
            <p>{{ album.Dessin }}</p>
            <p>{{ album.Couleur }}</p>
            <p>{{ album.date | date('d/m/Y') }}</p>

            <p>{{ album.content | raw }}</p>
            <img alt="" class="mini" src="{{ album.image1 }}">
            <img alt="" class="mini" src="{{ album.image2 }}">
            <img alt="" class="mini" src="{{ album.image3 }}">
    </div>

{% endblock %}
