{% extends "baseFront.html.twig" %}
{% block title %}
Album :
{{ albums.title }}
{% endblock %}

{% block body %}

<div class="container no-gutter album">
  <div class="row">
    <div class="col-md-4 coverBig">
      <img alt="{{ albums.title }}" class="mini" src="{{ vich_uploader_asset(albums, 'coverFile')}}">
    </div>
    <div class="col-md-7 offset-md-1">
      <h4>{{ albums.title }}</h4>
      <p class="subTitle pt-3 pb-3">{{ albums.Subtitle }}</p>
      <p>Scénario :
        <span class="bold">
          {{ albums.Scenario }}
          <span></p>
      <p>Déssin :
        <span class="bold">
          {{ albums.Dessin }}
        </span>
      </p>
      <p>Couleur :
        <span class="bold">
          {{ albums.Couleur }}
        </span>
      </p>
      <p class="dateParution pt-3 pb-3">Paru le :
        {{ albums.date | date('d/m/Y') }}
      </p>
      <p class="contenu pb-3">{{ albums.content | raw }}</p>
      <div class="col-md-3 offset-md-9">
        <a name="" id="" class="btn btnRed" href="{{ albums.buyLink }}" target="blank" role="button">Acheter<span></span></a>
      </div>
    </div>

    </p>
  </div>

  <div class="row mt-5">
    <div class="col-md-12 align-self-center mb-5">
      <h2 class="text-center">Extraits de l’album</h2>
    </div>
    <div class="col-md-12 text-center ">
      Les photos
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 align-self-center mb-5">
      <h2 class="text-center">making-of</h2>
    </div>

    {% if albums.makingOf.content is defined %}
    <div class="col-md-12 text-center ">
      {{albums.makingOf.content|raw }}
    </div>
    {% endif %}
  </div>

</div>

{% endblock %}


{% block press %}
<div class="row">
  <div class="row press">
    <div class="col-md-12 mb-5">
      <img alt="bulles" src="../img/bulles.png">
    </div>

    {# Slider press #}
    <div class="col-md-12 align-self-center mt-5 mb-5">
    </div>

    <!-- Start Carousel -->


    {# {% if albums.presses|length != 0 %} #}

    <div class="col-md-6 offset-3">
      <div id="carousel" class="carousel slide mt-3 mb-2" data-ride="carousel">
        <i class="fas fa-quote-right"></i>
        <ol class="carousel-indicators">
          {% for presse in presses %}
          <li data-target=".carousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}>
          </li>
          {% endfor %}
        </ol>
        <div class="col-md-12 carousel-inner align-items-center">
          {% for presse in presses %}
          <div class="col-md-12 carousel-item {% if loop.first %} active {% endif %}">

            <p class="journal mb-5">{{ presse.journal }}</p>
            <p class="critique">{{ presse.content }}</p>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>


    <!-- End Carousel -->
  </div>
</div>
{% endblock %}
{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap JQuery Plugin -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- Ajouter plusieurs images -->
<script src="../js/zoomOut.js"></script>

{% endblock %}