{% extends "base.html.twig" %}
{% block title %}
    Album :
    {{ album.title }}
{% endblock %}

{% block body %}
    <div class="container-fluid album">
        <div class="row">
            <div class="col-md-4">
                <img alt="" class="mini" src="{{ album.cover }}">
            </div>
            <div class="col-md-7 offset-md-1">
                <h4>{{ album.title }}</h4>
                <p class="subTitle pt-3 pb-3">{{ album.Subtitle }}</p>
                <p>Scénario :
                    <span class="bold">
                        {{ album.Scenario }}
                    </<span>
                </p>
                <p>Déssin :
                    <span class="bold">
                        {{ album.Dessin }}
                    </span>
                </p>
                <p>Couleur :
                    <span class="bold">
                        {{ album.Couleur }}
                    </span>
                </p>
                <p class="dateParution pt-3 pb-3">Paru le :
                    {{ album.date | date('d/m/Y') }}
                </p>
                <p class="contenu pb-3">{{ album.content | raw }}</p>
                <a name="" id="" class="btn btn-primary" href="{{ album.buyLink }}" role="button">Acheter</a>
            </div>
        </div>
        <div class="col-md-12 text-center ">
                <h4 class="text-center pt-5 mb-5">mes albums publiés</h4>


            <img alt="" class="mini" src="{{ album.image1 }}">
            <img alt="" class="mini" src="{{ album.image2 }}">
            <img alt="" class="mini" src="{{ album.image3 }}">
        </div>

    </div>

{% endblock %}
