{% extends "baseFront.html.twig" %}
{% block title %} News {% endblock %}

{% block body %}
    <div class="row agenda">
        <h3 class="col-md-12 text-center mb-5">Évènements passés</h3>
        {% for news in news %}
        {% if ("now"|date('Y-m-d', "Europe/Paris")) > (news.Date|date('Y-m-d', "Europe/Paris"))  %}

        <div class="col-md-5 carte_agenda old_event mb-5">
            <div class="row">
                <div class="col-md-4 no-gutter">
                    <img alt="Sébastien Mao : {{ news.title }}" class="mini" src="{{ vich_uploader_asset(news, 'ImageFile')}}">
                </div>

                <div class="col-md-8 contenu_agenda">
                        <h4 class="mb-3 text-center">{{ news.title }}</h4>
                        <p class="mb-2 text-center">{{ news.content|truncate(70) }}</p>
                        <p class="dateParution"><i class="fas fa-map-marker-alt"></i> {{ news.place }} </p>
                        <p class="dateParution"><i class="far fa-clock"></i> {{ news.date|date('d/m/Y à H:i')}} </p>
                    </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col md-12 text-center mb-5">
        {{ knp_pagination_render(news) }}
    </div>

    <div class="col-md-4 offset-md-4 text-center mb-5">
            <a href="{{ path('allNews')}}" id="btn">
                <button class="btnRed">Voir les événements à venir<span></span></button>
            </a>
        </div>
</div>


{% endblock %}