{% extends "baseBack.html.twig" %}

{% form_theme formSlider 'bootstrap_4_layout.html.twig' %}



{% block title %}
Créer un Slider
{% endblock %}

{% block body %}

<h1>{% if editMode %}
    Modification
    {% else %}
    Création
    {% endif %} d'un slider</h1>

<form method="post" enctype="multipart/form-data">
    {# {{ form_rest(formSlider) }} #}

    {{ form_start(formSlider)}}

    <div class="row">
        <div class="col" id="some-custom-id">
            {{ form_row(formSlider.Title, {'attr': {'placeholder': "Titre de l'album"}}) }}
            {{ form_errors(formSlider.Title) }}

            {{ form_row(formSlider.SubTitle, {'attr': {'placeholder': "Sous-titre de l'album"}}) }}
            {{ form_errors(formSlider.SubTitle) }}

            {{ form_row(formSlider.ImageFile, {'attr': {'placeholder': "Lien de l'image"}}) }}
            {{ form_errors(formSlider.ImageFile) }}


            {{ form_row(formSlider.Position) }}
            {{ form_errors(formSlider.Position) }}
            {# <p>Attention bien renseigner la position N°{{ app.request.query.get("position") }} pour ce slider !!!</p> #}
            <br>
            {{ form_row(formSlider.album, {'attr': {'placeholder': "Titre de l'album"}}) }}
            {{ form_errors(formSlider.album) }}

        </div>
    </div>






    <button class="btn btn-primary" type="submit">
        {% if editMode %}
        Modifier
        {% else %}
        Publier
        {% endif %}
    </button>
    {{ form_end(formSlider) }}
</form>

{% endblock %}