{% extends 'baseFront.html.twig' %}

{% block title %}Sébastien Mao auteur de Bande déssinée{% endblock %}

{% block body %}
<div class="trait"></div>

<!-- Slider Bannière -->
<div class="row mb-5 home">
    <div class="col-md-9 offset-md-2 col-12 slider">
        {% for slider in sliders %}
        {% if slider.position == 1 %}

        <a href="{{ path('album', {'id': slider.album.id}) }}">
            <div class="mySlides slide slide1">
                <div class="col-md-6 textSlide">
                    <h1>{{slider.title | upper}}</h1>
                    <h2>{{slider.subtitle | upper }}</h2>
                </div>
                <img alt="Sébastien Mao : {{ slider.title }}" class="mini" src="{{ vich_uploader_asset(slider, 'ImageFile')}}">
            </div>
        </a>
        {% endif %}
        {% endfor %}


        {% for slider in sliders %}
        {% if slider.position == 2 %}
        <a href="{{ path('album', {'id': slider.album.id}) }}">
            <div class="mySlides slide slide1">
                <div class="col-md-6 textSlide">
                    <h1>{{slider.title | upper}}</h1>
                    <h2>{{slider.subtitle | upper }}</h2>
                </div>
                <img alt="Sébastien Mao : {{ slider.title }}" class="mini" src="{{ vich_uploader_asset(slider, 'ImageFile')}}">
            </div>
        </a>
        {% endif %}
        {% endfor %}

        {% for slider in sliders %}
        {% if slider.position == 3 %}
        <a href="{{ path('album', {'id': slider.album.id}) }}">
            <div class="mySlides slide slide1">
                <div class="col-md-6 textSlide">
                    <h1>{{slider.title | upper}}</h1>
                    <h2>{{slider.subtitle | upper }}</h2>
                </div>
                <img alt="Sébastien Mao : {{ slider.title }}" class="mini" src="{{ vich_uploader_asset(slider, 'ImageFile')}}">
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>

    <div class="col-4 offset-4 col-md-2 offset-md-8 navigation ">
        <!-- <span class="badge hover-white" onclick="sliderPhoto.currentDiv()"></span> -->
        <span class="bulle hover-white" onclick="sliderPhoto.current(0)"></span>
        <span class="bulle hover-white" onclick="sliderPhoto.current(1)"></span>
        <span class="bulle hover-white" onclick="sliderPhoto.current(2)"></span>
    </div>
</div>

</div>
<div class="container mesAlbums">
    <div class="row mb-5">
        <div class="col-md-3 align-self-center">
            <h2 class="text-center">mes albums</h2>
        </div>
        <div class="col-md-9">
            <div class="row mt-5">
                {% for album in albums |reverse %}

                <div class="col-md-4 mb-5 cover">
                    <a href="{{ path('album', {'id': album.id}) }}" class="cover" >
                        <img alt="Sébastien Mao : {{ album.title }}" class="mini" src="{{ vich_uploader_asset(album, 'coverFile')}}">
                        <div class="hoverImage">
                        </div>

                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 align-self-center mb-5">
            <h2 class="text-center">mon agenda</h2>
        </div>
    </div>

    <div class="row agenda">
        {% for news in news|slice(0, 2) %}
        <div class="col-md-5 col-9 mb-2 carte_agenda">
            <div class="row">
                <div class="col-md-4 no-gutter">
                    <img alt="Sébastien Mao : {{ news.title }}" class="mini" src="{{ vich_uploader_asset(news, 'ImageFile')}}">
                </div>

                <div class="col-md-8 contenu_agenda">
                    <h4 class="mb-3">{{ news.title|e }}</h4>
                    <p class="mb-2">{{ news.content|e }}</p>
                    <p class="dateParution"><i class="fas fa-map-marker-alt"></i> : {{ news.place|e }}</p>
                    <p class="dateParution"><i class="far fa-clock"></i> : {{ news.date|e|date('d/m/Y à H:i')}}</p>
                </div>
                <a href="{{ path('news', {'id': news.id}) }}" id="btn" class="link"><i
                        class="fas fa-eye fa-lg"></i><span></span></a>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-3 offset-md-8 mt-4 mb-5">
                        <a href="{{ path('allNews')}}">
                <button type="button" class="btn btnRed mb-5 ">Voir l'agenda complet<span></span></button>
            </a>
        </div>
    </div>
</div>





{% endblock %}
{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap JQuery Plugin -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- Ajouter plusieurs images -->
<script src="js/zoomOut.js"></script>

<!-- Slider tuto en haut de page -->
<script src="js/slider.js"></script>

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#2c2c2c"
            },
            "button": {
                "background": "#ea1053"
            }
        },
        "theme": "edgeless",
        "content": {
            "message": "En poursuivant la navigation sur le site, vous acceptez l'utilisation des cookies. Ils sont nécessaires au bon fonctionnement du site.",
            "dismiss": "J'accepte",
            "link": "En savoir plus",
            "href": "/mentionsLegales"
        }
    });
</script>
{% endblock %}