{% extends 'base.html.twig' %}
{% block title %}Mes albums
{% endblock %}

{% block body %}

    <div class="div header">
        <h3 class="titre">Consulter mes albums</h3>
    </div>

    {% for album in albums %}
        <div class="album">
            <h3>{{ album.title }}</h3>
            <p>{{ album.Subtitle }}</p>
            <img alt="" class="mini" src="{{ album.cover }}">
            <p>{{ album.content | raw}}</p>

            <a class="btn btn-primary" href="{{ path('album') }}">En savoir plus</a>

        </div>
    {% endfor %}


{% endblock %}
