<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="XXX" name="description">

    <!-- Twitter Card data -->
    <meta content="summary" name="twitter:card">
    <meta content="@billetalaska" name="twitter:site" />
    <meta content="XXX" name="twitter:title" />
    <meta content="XXX" name="twitter:description" />
    <meta content="http://www.yohannjacob.fr/Openclassrooms/Projet4/img/photo1.jpg" name="twitter:image:src" />

    <!-- Open Graph data -->
    <meta content="XXX" property="og:title" />
    <meta content="website" property="og:type" />
    <meta content="http://www.yohannjacob.fr/Openclassrooms/Projet5/index.html" property="og:url" />
    <meta content="http://www.yohannjacob.fr/Openclassrooms/Projet5//images/equipe.jpg" property="og:image" />
    <meta content="XXX" property="og:description" />
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2cdb4abbf9.js"></script>
    <link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css" />
    <link href="{{ asset('css/style.css')}}" rel="stylesheet" />

    <title>
        {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}{% endblock %}
</head>

<body>

    {# Mise en place de la navbar au dessus du block body#}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand ml-2" href="{{ path('home')}}">
            <img alt="bulles" src="../img/logo-bulles.png">
        </a>
        <button aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarColor03" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto col-md-10 offset-md-2 align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('mesAlbums')}}" {% if app.request.attributes.get( '_route' ) in [
                        'mesAlbums',
                        'album',
                    ] %} id='active' {% endif %}>Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('biographie')}}"
                        {% if app.request.attributes.get( '_route' ) == 'biographie' %} id='active'
                        {% endif %}>Biographie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('allNews')}}" {% if app.request.attributes.get( '_route' ) in [
                        'allNews',
                        'allNewsOld',
                        'news',
                    ] %} id='active' {% endif %}>Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('allMakingOf')}}" {% if app.request.attributes.get( '_route' ) in [
                        'allMakingOf',
                        'makingOf',
                    ] %} id='active' {% endif %}>Making-Of</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact')}}"
                        {% if app.request.attributes.get( '_route' ) == 'contact' %} id='active' {% endif %}>Contact</a>
                </li>

                {% for detail in details %}
                <li class="nav-item pl-5">
                    <a class="nav-link" href="{{ detail.facebook }}" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ detail.twitter }}" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ detail.instagram }}" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin')}}">
                        <i class="fas fa-user-circle"></i>
                    </a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" id="active" href="{{ path('app_logout')}}">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <div class="container">
        <main>
            {# body #}
            {% block body %}{% endblock %}
        </main>
    </div>

    <div class="container-fluid">
        <main>
            {# press #}
            {% block press %}{% endblock %}
        </main>

    </div>

    {# Footer #}
    <div class="container-fluid">
        <footer class="redFooter" id="sticky-footer">
            <ul class="col-md-10 offset-md-1 align-self-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('mesAlbums')}}">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('biographie')}}">Biographie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('allNews')}}">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('allMakingOf')}}">Making-Of</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact')}}">Contact</a>
                </li>
                {% for detail in details %}
                <li class="nav-item pl-5">
                    <a class="nav-link" href="{{ detail.facebook }}" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ detail.twitter }}" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ detail.instagram }}" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link copi" href="http://www.studio-yaho.fr" target="_blank">
                        <small>&copy; Studio-Yaho.fr 2019</small>
                    </a>
                </li>
            </ul>

        </footer>
    </div>

    {% block javascripts %}
    <!-- JQuery Plugin -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap JQuery Plugin -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    {% endblock %}
</body>

</html>